body{
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  background-color: #ffffff;
}

h1{
  width: 10%;
  margin: 0 auto 0 auto;
  font-family: 'Handlee', cursive;
}

h2{
  font-family: 'Handlee', cursive;
  color: #463333;
}

h3{
  font-family: 'Handlee', cursive;
  color: #835858;
}

hr{
  width: 25%;
  border-style: dotted none none none;
  border-width: 35px;
  border-color: #835858;
  margin-top: 20px;
  margin-bottom: 20px;
}

a{
  color: #ffffff;
}

.mf{
  color: #463333;
  text-decoration: none;
}
.title{
  font-size: 300%;
  width: 100%;
  color: #463333;
  margin-top: 50px;
}
.topcontainer{
  background-color: #defcf9;
  position: relative;
  padding-top: 100px;
}

.top-container{
  margin-bottom: 35px;
}

.profile-pic{
  padding-top: 30px;
}
.profile{
  width: 80%;
  margin: 20px auto 0 auto;
  background-color: #fff0f0;
}

.divider{
  width: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 50px auto 0 auto;
  background-color: #463333;
  color: #fff0f0;
  font-size: medium;
}

.contact{
  background-color: #ffffff;
  padding-top: 5px;
}

.btn{
  padding: 30px;
}

.get-in-touch{
  color: #fff0f0;
  margin: 0;
  margin-top: 5px;
}

.my-skills{
  color: #fff0f0;
}

.bio{
  padding-bottom: 30px;
  color: #835858;
}

.skill-row{
  padding-bottom: 20px;
}

.bottom-container{
  margin-top: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #463333;
  text-align: center;
  color: #fff0f0;
  font-size: small;
}
.dash{
  color: black;
}
.bottomcloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.topcloud{
  position: absolute;
  top: 50px;
  right: 300px;
}
